name: Static Site CI
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  static-site:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
          persist-credentials: true
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - uses: upptime/uptime-monitor@master
        with:
          command: "site"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
