name: Summary CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  summary:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - uses: upptime/uptime-monitor@master
        with:
          command: "summary"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
